#imagenFondoLogin{
    min-height: 90vh;
    background: linear-gradient(rgba(5, 7, 12, 0.75),
     rgba(5, 7, 12, 0.75)), 
    url(https://www.petparadise.com/files/4859/veterinary-hospital-in-charlotte.JPG) 
    no-repeat center center fixed;
    background-size: cover;
}

/**/